@model  IEnumerable<WebApplication2.Models.SimpleUser_Result>

@{
    ViewBag.Title = "NguoiDung";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="col-12" style="background-color: white; padding: 25px;">
        <br />
        <h2>Người dùng</h2>
        <label class="field-validation-error">@TempData["Failed"]</label>
        <label class="field-validation-error" style="color:forestgreen !important">@TempData["Success"]</label>
        <p>
            <!--
        Html.ActionLink("Thêm mới", "CreatNhaHang", "NhaHang")
        -->
        </p>
        @using (Html.BeginForm("Index", "NguoiDung", FormMethod.Post))
        {
            <div class="col-12">
                <input type="text" id="idbox" name="idbox" placeholder="ID" style="width: 5%" />
                <input type="text" id="phonebox" name="phonebox" placeholder="Điện thoại" style="width: 10%" />
                <input type="text" id="emailbox" name="emailbox" placeholder="Email" style="width: 15%" />
                <input type="text" id="namebox" name="namebox" placeholder="Tên" style="width: 15%" />
                <input type="checkbox" id="locked" name="locked" value="0"> Bị khóa
                <input type="submit" value="Tìm kiếm" style="margin-left: 5%" />
            </div>
        }
        <div class="col-12">
            <table>
                <tr>
                    <th style="width: 3%; text-align: center;">
                        @Html.DisplayNameFor(model => model.PasgoID)
                    </th>
                    <th style="width: 4%; text-align: center;">
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th style="width:25%; text-align: center">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th style="width:35%; text-align: center">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th style="width: 11%; text-align: center">
                        @Html.DisplayNameFor(model => model.Locked)
                    </th>
                    <th style="width: 9%;">
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="col-12">
                        <td style="text-align: center">
                            @Html.DisplayFor(x => item.PasgoID)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(x => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Locked)
                        </td>
                        <td>
                            @Html.ActionLink("Chi tiết", "Details", new { Rid = item.PasgoID })
                            @Html.ActionLink("Chỉnh sửa", "Details", new { Rid = item.PasgoID })
                            @Html.ActionLink("Xóa", "Details", new { Rid = item.PasgoID })
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
<script>
    var checkbox = document.getElementById("locked");
    checkbox.addEventListener("click", function () {
        if(checkbox.checked == true)
            checkbox.setAttribute("value", 1);
        else
            checkbox.setAttribute("value", 0);
    });
</script>
