@model Tuple<WebApplication2.Models.PasgoRestaurant, List<WebApplication2.Models.allImg_Result>, List<WebApplication2.Models.thongtinthemSP_Result>, WebApplication2.Models.ThuocThuongHieuChuoi_Result>
@using WebApplication2.CustomHtmlHelper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="col-12" id="admin-details">
        <br />
        <br />
        @using (Html.BeginForm("DeleteNhaHang", "NhaHang"))
        {
            <input type="submit" id="btndel" value="Xóa nhà hàng" class="btn btn-default" style="float: right;" />
            <input type="hidden" name="confirmdelete" value="false" />
            <input type="hidden" name="nhahangid" value=@Model.Item1.PasgoRID />
        }
        @using (Html.BeginForm("Index", "NhaHang"))
        {
            <input type="submit" value="Trở về" class="btn btn-default" style="float: left;" />
            
        }
        <label class="field-validation-error" style="padding-left: 33% !important">@TempData["Failed"]</label>
        <label class="field-validation-error" style="color:forestgreen !important; padding-left: 33% !important;">@TempData["Success"]</label>

        <h2>Chi tiết</h2>

        <span>
            @Html.ActionLink("Chỉnh sửa", "UpdateDetails", new { Rid = Model.Item1.PasgoRID })
        </span>
        <div>
            <!--Xoay cái bảng lại-->
            <table style="width: 50%; float: left;">
                <tr>
                    <th>
                        Mã nhà hàng :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.PasgoRID)
                    </td>
                </tr>
                <tr>
                    <th>
                        Tên nhà hàng :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.RName)
                    </td>
                </tr>
                <tr>
                    <th>
                        Địa chỉ :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.Raddress)
                    </td>
                </tr>
                <!--Có thể đối chiếu để lấy tên thành phố-->
                <tr>
                    <th>
                        Thành Phố :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.Rcity)
                    </td>
                </tr>
                <tr>
                    <th>
                        Đường dẫn :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.Rlink)
                    </td>
                </tr>
                <tr>
                    <th>
                        Chuyên :
                    </th>
                    <td>
                        @if (Model.Item1.Rfeature == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.Rfeature)
                        }
                    </td>
                </tr>
                <tr>
                    <th>
                        Loại Hình :
                    </th>
                    <td>
                        @if (Model.Item1.RLoaiHinh == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.RLoaiHinh)
                        }

                    </td>
                </tr>
                <tr>
                    <th>
                        Phù Hợp :
                    </th>
                    <td>
                        @if (Model.Item1.RPhuHop == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.RPhuHop)
                        }
                    </td>
                </tr>
                <tr>
                    <th>
                        Không Gian :
                    </th>
                    <td>
                        @if (Model.Item1.RKhongGian == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.RKhongGian)
                        }
                    </td>
                </tr>
            </table>
            <table style="width: 50%; float: left;">
                <tr>
                    <th>
                        Khuyến mãi :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.Rpromotion)
                    </td>
                </tr>
                <tr>
                    <th>
                        Mức khuyến mãi :
                    </th>
                    <td>
                        @if (Model.Item1.RpromotionPercent == 0)
                        {
                            <text>Không có</text>
                        }
                        else
                        {
                            <text>@Html.DisplayFor(model => model.Item1.RpromotionPercent)&nbsp;&#37;</text>
                        }

                    </td>
                </tr>
                <tr>
                    <th>
                        Chi phí :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.Rdollar)
                    </td>
                </tr>
                <tr>
                    <th>
                        Chất lượng :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.Rstar)
                    </td>
                </tr>
                <tr>
                    <th>
                        Sửa lần cuối :
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Item1.Rdate)
                    </td>
                </tr>
                <tr>
                    <th>
                        Chỗ để xe :
                    </th>
                    <td>
                        @if (Model.Item1.RChoDeXe == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.RChoDeXe)
                        }
                    </td>
                </tr>
                <tr>
                    <th>
                        Đặc trưng :
                    </th>
                    <td>
                        @if (Model.Item1.RDacTrung == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.RDacTrung)
                        }
                    </td>
                </tr>
                <tr>
                    <th>
                        Thông tin thêm :
                    </th>
                    <td>
                        @if (Model.Item1.RThongTinThem == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.RThongTinThem)
                        }
                    </td>
                </tr>
                <tr>
                    <th>
                        Giới thiệu :
                    </th>
                    <td>
                        @if (Model.Item1.RGioiThieu == null)
                        {
                            <text>(chưa cập nhật)</text>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Item1.RGioiThieu)
                        }
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div id="admin-pic">
        <h2>Pic</h2>
        <span>
            @Html.ActionLink("Chỉnh sửa", "UpdatePic", new { Rid = Model.Item1.PasgoRID, vitri = 1 })
        </span>
        <div>
            <div id="picCarousel" class="carousel slide" data-interval="false">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @foreach (var item in Model.Item2)
                    {
                        @Html.AdminPicCarousel(@item.imgLink, @item.imgMoTa, Convert.ToInt64(@item.No), Convert.ToInt32(@item.imgType));
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#picCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#picCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="indicators">
                <!-- Indicators -->
                @foreach (var item in Model.Item2)
                {
                    @Html.AdminPicIndicators(@item.imgLink, @item.imgMoTa, Convert.ToInt64(@item.No));

                }
            </div>
        </div>
    </div>

    <div class="col-12 adminthongtin" >
        <h2>Thông tin thêm</h2>
        <span>
            @Html.ActionLink("Chỉnh sửa", "updatethongtin", new { Rid = Model.Item1.PasgoRID })
        </span>
        <div>
            @foreach (var item in Model.Item3)
            {
                <div class="checkboxthongtin" style="float: left; width: 14%">
                    @if (item.val == 1)
                    {
                        <input style="margin-right: 5px;" type="checkbox" name="vehicle1" value=@item.val checked disabled>
                        <label style="font-weight: unset">@item.thuoctinh</label>
                    }
                    @if (item.val == 0)
                    {
                        <input style="margin-right: 5px;" type="checkbox" name="vehicle1" value=@item.val disabled>
                        <label style="font-weight: unset">@item.thuoctinh</label>
                    }
                    
                </div>
            }
        </div>
    </div>

    <div class="col-12 adminthongtin">
        <h2>Thuộc chuỗi nhà hàng</h2>
        <span>
            @Html.ActionLink("Chỉnh sửa", "UpdateChuoi", new {nhahang = Model.Item1.PasgoRID })
        </span>
        <div class="col-12">
            <div class="img">
                @if (Model.Item4.ImgDT == null)
                {
                    <a href=@Html.DisplayFor(model => model.Item4.LinkTH)>
                        <img src=@Html.DisplayFor(model => model.Item4.ImgTH) style="width: 100%" alt=@Html.DisplayFor(model => model.Item4.Name) />
                    </a>
                }
                else
                {
                    <a href=@Html.DisplayFor(model => model.Item4.LinkTH)>
                        <img src=@Html.DisplayFor(model => model.Item4.ImgDT) style="width: 100%" alt=@Html.DisplayFor(model => model.Item4.Name) />
                    </a>
                }
            </div>
            <div class="info">
                <table>
                    <tr>
                        <th>
                            Mã thương hiệu:
                        </th>
                        <td>                          
                            @Html.DisplayFor(model => model.Item4.IdThuongHieu)      
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tên thương hiệu:
                        </th>
                        <td>
                            @if (Model.Item4.Name == null)
                            {
                                <text>(chưa cập nhật)</text>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Item4.Name)
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Địa chỉ trụ sở:
                        </th>
                        <td>
                            @if (Model.Item4.AddressDT == null)
                            {
                                <text>(chưa cập nhật)</text>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Item4.AddressDT)
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<script>
    document.getElementById("btndel").addEventListener("click", function confirmdel() {
        if (confirm('Bạn có thực sự muốn xóa nhà hàng? Dữ liệu bị xóa không thể phục hồi') == true) {
            if (confirm('Bạn chắc chắn chứ?'))
                if (prompt("Gõ 'dongyxoa' để xác nhận lệnh xóa", '') == "dongyxoa")
                    document.getElementsByName("confirmdelete")[0].setAttribute("value", true);
                else
                    alert("Lệnh xóa đã bị hủy!")
            //setTimeout(function () {
                
            //}, );
        }
            
    });
</script>