
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="wapper-content" id="infor">
        <div class="container">
            <div class="wapper">
                <br />
                <div style="float: left;" class="col-12">
                    <label class="field-validation-error">@TempData["Failed"]</label>
                    <label class="field-validation-error" style="color:forestgreen !important">@TempData["Success"]</label>
                </div>
                <ul class="col-12 col-sm-4">
                    <li class="col-12 infor-tab">
                        <div class="col-12 col-sm-3 avatar">
                            <img src="" alt="Smiley face">
                        </div>
                        <div class="col-12 col-sm-9 pasgo-user-id">
                            <p>ID Pasgo : @Session["PasgoID"]</p>
                            <p>SĐT : @Session["PhoneNumber"]</p>
                        </div>
                    </li>
                    <li class="col-12 infor-tab">
                        <span>Icon</span>
                        @Html.ActionLink("Thông tin tài khoản", "Details", "ManageAccount")
                        <span class="pasgo-icondesktop-menublack"></span>
                    </li>
                    <li class="col-12 infor-tab">
                        <span>Icon</span>
                        @Html.ActionLink("Quản lý mật khẩu", "ChangePassword", "ManageAccount")
                        <span class="pasgo-icondesktop-menublack"></span>
                    </li>
                    <li class="col-12 infor-tab">
                        <span>Icon</span>
                        @Html.ActionLink("Lịch sử đặt chỗ", "History", "ManageAccount")
                        <span class="pasgo-icondesktop-menublack"></span>
                    </li>
                    <li class="col-12 infor-tab">
                        <span>Icon</span>
                        @Html.ActionLink("Hỗ trợ", "Chat", "ManageAccount")
                        <span class="pasgo-icondesktop-menublack"></span>
                    </li>
                    <li class="col-12 infor-tab">
                        <span>Icon</span>
                        @Html.ActionLink("Thoát", "Index", "Home")
                        <span class="pasgo-icondesktop-menublack"></span>
                    </li>

                </ul>
                <div class="col-12 col-sm-8">
                    @using (Html.BeginForm("ChangePassword", "ManageAccount", new { Phone = @Session["PhoneNumber"], PasgoID = @Session["PasgoID"] }))
                    {
                        @Html.AntiForgeryToken()
                        <h1 class="col-12">THÔNG TIN TÀI KHOẢN</h1>
                        <div class="col-12 infor-user">
                            <label class="col-3" style="text-align:right">Mật khẩu cũ :</label>
                            <input class="col-6" type="password" name="old" placeholder="Nhập mật khẩu cũ" />
                        </div>
                        <div class="col-12 infor-user">
                            <label class="col-3" style="text-align:right">Mật khẩu mới :</label>
                            <input class="col-6" type="password" name="new" placeholder="Nhập mật khẩu mới" />
                        </div>
                        <div class="col-12 infor-user">
                            <label class="col-3" style="text-align:right">Nhập lại mật khẩu :</label>
                            <input class="col-6" type="password" name="retypenew" placeholder="Nhập lại mật khẩu mới" />
                        </div>
                        <div class="col-9 no-padding" style="margin-left: 25%; float: left;">
                            <p style="font-size: 14px;">
                                Sử dụng mật khẩu cho phép bạn đăng nhập PasGo trên các thiết bị khác nhau mà không cần kích hoạt lại qua SMS.
                            </p>
                            <p style="font-size: 14px;">
                                Mật khẩu không phải là mã kích hoạt PasGo.
                            </p>
                            <p style="font-size: 14px;">
                                Lưu ý không chia sẻ mật khẩu với bất kỳ ai để đảm bảo an toàn cho tài khoản PasGo của bạn.
                            </p>
                            <input type="submit" value="Cập nhật" class="submit col-3" />
                        </div>
                    }
                </div>

            </div>


        </div>


</div>
