@model WebApplication2.Models.PasgoUser


@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div class="wapper-content" id="login">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="wapper col-md-9 col-12">
                    <div class="row">
                        <h1>ĐĂNG NHẬP THÀNH VIÊN PASGO</h1>
                    </div>
                    <div class="col-12">
                        <span class="col-2">Quốc gia</span>
                        <select class="col-10" style="float: left;">
                            <option value="">Vietnam(+84)</option>
                        </select>
                        <div>
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "col-12", @placeholder = "Số điện thoại", @type = "tel" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Password, new { @class = "col-12", @placeholder = "Mật khẩu", @type = "password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                        <label class="field-validation-error">@TempData["Failed"]</label>
                        <div class="col-12 no-padding">
                            <input type="submit" value="Đăng nhập" class="submit" />
                        </div>
                        <div class="col-12" style="text-align-last: center; font-size: 15px;">
                            <a href="">Quên mật khẩu?</a>
                        </div>
                        <div class="col-12" style="text-align-last: center;">
                            <a href="">Đăng ký thành viên!</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


